@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --dark : @apply {
    bg-slate-900 
  }

  --light : @apply {
    bg-white
  }


}

body {
  font-family: 'Inter', sans-serif;
}
